.topBox {
    width: 13%;
    line-height: 50px;
    display: inline-block;
    text-align: center;
}

.detils {
    line-height: 30px;
    display: inline-block;
    text-align: center;
}

.white {
    color: white;
    font-size: 20px;
    font-family: '华文中宋';
}

.white a {
    color: white;
    text-decoration: none;
}

.rightBox {
    position: absolute;
    width: 18%;
    line-height: 180px;
    display: inline-block;
}

.rightBlock {
    width: 52%;
    line-height: 100%;
    display: inline-block;
    background-color: red;
}

.rightHref {
    width: 100%;
    height: 180px;
}

.rightStrong {
    position: absolute;
    top: 160px;
    left: 0%;
    line-height: 20px;
}

.arrow-l,
.arrow-r {
    position: absolute;
}

.current {
    src: "/static/images/circle/circle1.png";
}

.uncurrent {
    src: "/static/images/circle/circle0.png";
}

.content {
    width: 14%;
    display: inline-block;
    line-height: 30px;
}

#topBlock {
    width: 100%;
    height: 200px;
    background-image: url(/static/images/background/BG1.jpeg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
}

#options {
    width: 1536px;
    height: 50px;
}

#mainBlock {
    position: absolute;
    top: 260px;
    left: 50px;
    display: inline-block;
    width: 36.5%;
    line-height: 350px;
}

#circle {
    position: absolute;
    top: 200px;
    left: 82.1%;
}

#circle li {
    width: 20px;
    height: 10px;
    float: left;
    list-style-type: none;
}

#score {
    width: 28%;
    line-height: 50px;
    display: inline-block;
    text-align: center;
}

#searchDiv {
    width: 100%;
    height: 30px;
    background-color: skyblue;
}

#searchInput {
    width: 35%;
    height: 26px;
    align-items: center;
}

#logOn {
    width: 18%;
    line-height: 50px;
    display: inline-block;
    text-align: center;
}

#contentBox {
    margin: 6%;
}